
.header{
    background-color: #13544C;
    width: 100vw;
    height: 30px;
    display: flex;
    position: fixed;
    

}
.header-logo{
    width:50px;
    height:100%;

}
.header-content{
    display: flex;
    align-items: center;
    flex:1;
    flex-wrap: wrap;
}
.header-link >div{
    height:100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.header-link{
    font-size: 10px;
    color: white;
    text-decoration: none;font-family: 'Inter var',sans-serif;;
    
}