.layout{

  flex:1;
    display: grid;
    grid-template-areas: "header"
                          "content";

    background-color: #EFE8D8;
    min-height: 100vh;
 
}
.layout-header{
    grid-area: "header";

}
.layout-content{
    grid-area: "content";
}