.professional-review-page {
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 50px;
}

.professional-review-info {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: center;
    margin-bottom: 20px;

    img {
        width: 25%;
        height: 10%;
        border-radius: 30px;
    }
}
.professional-info-content {
    font-size: 2vw;
    letter-spacing: 0.5px;
}
