$font-family: 'Inter var',sans-serif;
$font-family-header: 'DM Serif Display', serif;
$font-family-header-text: 'DM Serif Text', serif;
$darkBlue:#13544C;
$backgroundColor:#EFE8D8 ;
$black:#33302E;
$white:#F1F1F1;
