@use "base";
.button {
    background-color: base.$darkBlue;
    font-size: 2vw;
    color: base.$white;
    font-family: base.$font-family-header-text;
    width: 15vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5vw;
    min-width: 100px;
}
.button:hover {
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    .button {
        width: 50%;
        height: 7vw;
        font-size: 16px;
    }
}
