@use 'base';
.home{
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    padding-right:30px;
    align-items: center;
    height: 100vh;
}

.home-header{
    color: base.$darkBlue;
    font-size: 8vw;
    margin-bottom: 20px;
    font-family: base.$font-family-header;

}
.home-title-large{
    font-size: 4vw;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: base.$font-family-header
    
}
.home-title-small{
    font-size: 1.3vw;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: base.$font-family-header-text;
    margin-bottom: 6vw;
}
.home-logo{
    width: 35%;
    height: 50%;
    
}
.home-button{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    
}
@media screen and (max-width:600px) {
    .home{
        display: flex;
        flex-direction: column-reverse;
        row-gap:20px;
        margin-bottom: 30px;
        
    }
    .home-logo{
        width: 70%;
        height: 60%;
        margin-top:40px;
        min-width: 200px;
        min-height: 140px;
        
    }
    .home-content{
        margin-left: 30px;
    }
    
}