@use "base";

.layout {
    flex: 1;
    display: grid;
    grid-template-areas:
        "header"
        "content";

    background-color: base.$backgroundColor;
    grid-template: 70px 9fr /1fr;
}
.layout-header {
    grid-area: "header";
}
.layout-content {
    grid-area: "content";
    min-height: 100vh;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
