.rating-icon {
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.icon {
    color: orange;
}
.icon-outline {
    color: white;
}
